.container-fluid{
	padding: 0;
}
.row{
	margin: 0px;
}

    .logo img{
         width: 40%;
         padding: 10px 0;
                    
                }
        .name h1, h2{
            color: pink;
    font-weight: 800;
    font-family: monospace;
    font-size: 3em;
    margin-bottom: -2px;
    padding-top: 10px;
     }

     .name h5{
    color: #ada355;
    font-family: cursive, monospace;
    font-size: 15px;

     }
.banner h1{
	font-size: 7em;
	margin-bottom: 0.4em;
}
.service{
    margin-bottom: 20px;
}
.banner{
    margin-bottom: 30px;
}
header{
   background-image: linear-gradient(135deg, #f97794 5%, #623AA2 100%);
}
            		
 .banner{
 	background-image: linear-gradient(135deg, #f97794 5%, #623AA2 100%);
 	text-align: center;
 } 


 .header{
 	padding-top: 7em;
    padding-bottom: 7em;
 	color: white;
 }    
 .header h1{
 	margin-bottom: 30px;
 	font-size: 6em;
    color: white;
 }
 .header p{
 	margin-bottom: 30px;
 	font-size: 2em;
 }


.btn-radius{
	border-radius: 15px;
	background-color: #2c6aaf;
	color: white;
}  
h1{
    color: brown;
}

.jumbotron{
	border-radius: 0px;
	text-align: center;
	background-color: white;
}

.center-text{
	background-color: transparent;
	margin: 1em 10em 1em 10em;
}
.center-text p{
	font-size: 1.5em;
	padding: 0 3em 0em 3em;
	color: #808080;
	font-weight: 400
}

.web-border{
	border:1px solid #ddd;
	border-radius: 10px;
	padding: 2.5em;
	margin-bottom: 20px;
	
} 

#got-project{
	margin-top: 30px;
}

footer{
    background-image: linear-gradient(135deg, #f97794 5%, #623AA2 100%)
}
footer p{
    padding: 3em;
    color: #fff;
}

 @media only screen and (max-width:768px){
                   
                    body{
                        background-color:white ;
                    }
                   
                .center-text p{
					font-size: 1.5em;
					padding: 15px;
				}
    
                 
                     .header h1{
                     margin-bottom: 30px;
                     font-size: 3em;
 }
 				.center-text{
					background-color: transparent;
					margin: 0px;
					}
				
}
/*for the screen size between 768 and 960px*/
@media only screen and (min-width:768px){
.center-text p{
	font-size: 1.5em;
	padding: 0;
}

}

@media only screen and (max-width:768px){
     .logo img{
         width: 70%;
         padding: 10px 0;
                    
                }

  .name h1, h2{
    color: pink;
    font-weight: 500;
    font-family: monospace;
    font-size: 1.5em;
    margin-bottom: -2px;
    padding-top: 10px;
     }
     
     .name h5{
    color: #ada355;
    font-family: cursive, monospace;
    font-size: 15px;

     }
 }
